#DetailedModal.modal.fade
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h1.modal-title.fs-5#dialogTitle 詳細行事曆
        button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
      .modal-body
        form(action="#" id="formData")
          .mb-3
            label.form-label 行程建立： #{Calendardata.creatorPopleName}
          .mb-3
            label.form-label 標題： 
            textarea.form-control(rows="4" maxlength="255" readonly) #{Calendardata.title}
          .mb-3
            label.form-label 備註內容： 
            textarea.form-control(rows="4" maxlength="255" readonly) #{Calendardata.content}
          .mb-3
            label.form-label 辦理人員： #{Calendardata.staffName} &nbsp;
            if Calendardata.setstaff != '0'
              span #{Calendardata.titleName} 
          .mb-3
            label.form-label 使用空間： #{Calendardata.spaceName}
      .modal-footer
        buttin.btn.btn-primary(type="button" id="btn_delete") 刪除
        buttin.btn.btn-secondary(type="button" data-bs-dismiss="modal") 取消