.modal.fade
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h1.modal-title.fs-5 行事曆
        button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
      .modal-body
        form(action="#" id="formData")
          input(type="hidden" name="start" id="start" value=CalendarData.start)
          input(type="hidden" name="end" id="end" value=CalendarData.end)
          input(type="hidden" name="allDay" id="allDay" value=CalendarData.allDay)
          .mb-3
            label.form-label 時間：
              span(id="stdatetime") #{new Date(CalendarData.start).toLocaleString()}
              span 至 
              span(id="todatetime") #{new Date(CalendarData.end).toLocaleString()}
          .mb-3
            label.form-label 事件重複
            select.form-select(name="weekrepeat" id="weekrepeat")
              option(value="0") 不重複
              option(value="1") 重複一周
              option(value="2") 重複二周
              option(value="3") 重複三周
              option(value="4") 重複四周
          .mb-3
            label.form-label 事件標題
            input.form-control(type="text" name="title" id="title" maxlength="255")
          .mb-3
            label.form-label 備註內容
            textarea.form-control(name="content" id="content" rows="4" maxlength="255")
          .mb-3
            label.form-label 個案學號
            select.form-select(name="caserecordId" id="caserecordId")
              option(value="0") 無
              each value in CaseRecordList
                option(value=value.id) #{value.memberUid} #{value.memberName} (#{value.isAssign})
          .mb-3
            label.form-label 指派心理師
            select.form-select(name="caseAssign" id="caseAssign")
              option(value="") 無
              each value in UserData
                option(value=value.account) #{value.username} #{value.UserAuth.titleName}
          .mb-3
            label.form-label 使用空間
            select.form-select(name="roomId" id="roomId")
              option(value="0") 無
              each value in RoomData
                if CalendarData.resourceId == value.id 
                  option(value=value.id selected) #{value.title}
                else 
                  option(value=value.id) #{value.title}
      .modal-footer
        buttin.btn.btn-primary(type="button" id="btn_process") 新增
        buttin.btn.btn-secondary(type="button" data-bs-dismiss="modal") 取消
  script.
    (function() {
      let ModalElement = document.querySelectorAll(".modal")[0]
      let modalMethod = new bootstrap.Modal(ModalElement, {backdrop: 'static'})
      ModalElement.addEventListener('hidden.bs.modal', event => {  
        ModalElement.parentElement.parentElement.removeChild(ModalElement.parentNode) 
      })
      modalMethod.show()
      document.querySelector('#btn_process').addEventListener('click', (e) => {
        let data = new FormData(document.querySelector('#formData'));
        data.append('caseAssignName',document.querySelector('#caseAssign')[document.querySelector('#caseAssign').selectedIndex].text)
        axios.post('/calendar',data).then((res) => {
          calendar.refetchEvents()
          Swal.fire(res.data.msg).then((result) => {
            if(result.isConfirmed) {
              modalMethod.hide()
            }
          })
        }).catch(error => { 
          Swal.fire(error.response.data.msg)
        }).finally(() => { mask.hide() })
      })
    })()
